<div fxLayout="row">
<coivd-summary-deaths 
  [deadCases]="deadCases">
</coivd-summary-deaths>
<coivd-summary-confirmed
  [confirmedCases]="confirmedCases">
</coivd-summary-confirmed>
<coivd-summary-recovered
  [recoveredCases]="recoveredCases">
</coivd-summary-recovered>
</div>
<div fxLayout="row">
<coivd-summary-table
  [globalSummary]="globalSummary"
></coivd-summary-table>
<span style="width: 62px;"></span>
<coivd-summary-map
[globalGeoSummary]="globalGeoSummary"
></coivd-summary-map>
</div>